<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmy.mpt.mapper.UserMapper">

    <!---->
    <sql id="Base_Column_List">
		id, name, nickname, email,number,create_time as createtime,last_login_time as lastlogintime,password,status
	</sql>

    <select id="selectByMapOneSelf" parameterType="map" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <where>
            <if test="name!=null and name != '' ">
                name = #{name}
            </if>
            <if test="password != null and password != ''">
               AND password LIKE concat('%',#{password},'%')
            </if>
            <if test="email != null and email != '' ">
               AND email LIKE concat('%',#{email},'%')
            </if>
        </where>
    </select>

    <insert id="insertMap" parameterType="map">
        insert into sys_user(id,name,nickname,email,number,password,create_time,status)
        VALUES (#{id},#{name},#{nickname},#{email},#{number},#{password},#{createtime},#{status})
    </insert>

    <insert id="insertB" parameterType="map">
        insert into sys_user(id,name,nickname,email,number,password,create_time,status) VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.id},#{item.name},#{item.nickname},#{item.email},#{item.number},#{item.password},#{item.createtime},#{item.status}
            )
        </foreach>
    </insert>

    <update id="updateMap">
        UPDATE sys_user SET
        <foreach collection="list" item="item" index="index" separator=",">
            password = #{item.password}
        </foreach>
        where email like concat('%',#{email},'%')
    </update>

    <delete id="deleteByMapOnseSelf">
        delete FROM sys_user
        <where>
            <if test="name != null and name != '' ">
                name like concat('%',#{name},'%')
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname}
            </if>
        </where>
    </delete>
</mapper>
