<component name="ArtifactManager">
  <artifact type="war" name="MybatisPlusTest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="MybatisPlusTest.war">
      <element id="artifact" artifact-name="MybatisPlusTest:war exploded" />
    </root>
  </artifact>
</component>